{% extends "CommonUserBundle:Email:base.html.twig" %}

{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        Nous avons reçu une demande de réinitialisation du mot de passe pour votre compte.
                
        Veuillez trouvez ci-dessous le lien de réinitialisation.
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        <a href="{{ resetUrl }}">{{ resetUrl }}</a>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}